@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/cavs-floor-background.png");
  background-size: cover;
  background-position: top center;
  background-repeat: repeat-y;
  background-attachment: fixed;
  min-height: 100vh;
}
